@page "/"
@namespace SecondDimensionWatcher.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>二次元观测器</title>
    <base href="~/"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap-icons/bootstrap-icons.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
    <link rel="stylesheet" href="/lib/videojs/video-js.min.css"/>
    <link rel="stylesheet" href="/lib/highlight/styles/github-gist.css"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">二次元观测器</a>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="container-fluid">
            <component type="typeof(App)" render-mode="Server"/>
        </div>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - HCGStudio 二次元观测器
    </div>
</footer>

<script src="/js/site.js"></script>
<script src="_framework/blazor.server.js"></script>

</body>
</html>